<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Jesus Youth Kottayam</h1>
  <p>Campus Ministry</p>
  {% if user.is_authenticated %}
  <p>
    Name: {{ user.first_name }} {{ user.last_name }}
  </p>
  <p>
    #{{ user.user_name }}
  </p>
  <p>
    <img src="{{ user.thumbnail.url }}" alt="user_thumbnail" width="100" height="100">
  </p>
  <a href="{% url 'logout' %}">Log out</a>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
</body>
</html>